<h1>Search</h1>

<form [formGroup]="searchForm" (ngSubmit)="onSearch()">
    <p>Keywords: <input type="text" formControlName="keywords"/></p>
    <p>URL: <input type="text" formControlName="url"/></p>
    <button type="submit" [disabled]="!searchForm.valid">Search</button>
</form>

<div>
    <div *ngIf="(searchResult$ | async) as result; else loading">
        <p>Search result: {{result}}</p>
    </div>

    <ng-template #loading>
        <p *ngIf="firstSearchSubmitted == true">
            Fetching search result from server...
        </p>
    </ng-template>
</div>