<h1>Search</h1>

<form [formGroup]="searchForm" (ngSubmit)="onSearch()">
    <p>Keywords: <input type="text" formControlName="keywords"/></p>
    <p>URL: <input type="text" formControlName="url"/></p>
    <button type="submit" [disabled]="!searchForm.valid">Search</button>
</form>

<div>
    <div *ngIf="(stringResponse$ | async) as response; else loading">
        <p>string response from server: {{response}}</p>
    </div>

    <div>
        <ng-template #loading>
            Loading...
        </ng-template>
    </div>
</div>